* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 100%;
}

body {
  background-color: #ff84cd;
}

#container {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#div_wrongModal,
#div_rightModal {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  background-color: #ff84cd;
}

.div_modalContentWrapper {
  width: 100vw;
  height: 40vh;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.div_modalContent {
  width: 40vh;
  height: 40vh;
  display: block;
  margin: 0 auto;
}

.p_modalTextBig {
  color: #ffffff;
  font-family: Avenir, sans-serif;
  font-size: 10vh;
  font-weight: 900;
  text-align: center;
}

.p_modalTextSmall {
  line-height: 3vh;
  color: #ffffff;
  font-family: Avenir, sans-serif;
  font-size: 2.5vh;
  text-align: center;
}

#div_playfield {
  margin-top: 2vh;
}

#div_frame {
  width: 58vh;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: URL("assets/misc/frame.png");
  background-size: 79%;
  background-repeat: no-repeat;
  background-position: center 3.5vh;
}

#div_dog {
  width: 33.5vh;
  height: 20vh;
  display: inline-block;
  margin: 2vh auto 0 auto;
  position: relative;
  vertical-align: top;
  background-size: cover;
  background-color: white;
}

.div_sideWrapper {
  width: 10vh;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.div_bottomWrapper {
  width: 100%;
  text-align: justify;
  margin: 0vh 0vh 1vh 0vh;
}

.div_bottomWrapper:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#div_middleWrapper {
  text-align: justify;
}

#div_middleWrapper:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#div_side2,
#div_side3,
#div_side4 {
  width: 10vh;
  height: 6vh;
  opacity: 0;
  margin: 1vh 0vh 2vh 0vh;
}

#div_side10,
#div_side11,
#div_side12 {
  width: 10vh;
  height: 6vh;
  opacity: 0;
  margin: 1vh 0vh 2vh 0vh;
}

#div_side5,
#div_side6,
#div_side7,
#div_side8,
#div_side9 {
  width: 10vh;
  height: 6vh;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
}

#div_side1,
#div_side13,
#div_side14,
#div_side15,
#div_side16 {
  width: 10vh;
  height: 6vh;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
}

#div_side1,
#div_side2,
#div_side3,
#div_side4,
#div_side5,
#div_side6,
#div_side7,
#div_side8,
#div_side9,
#div_side10,
#div_side11,
#div_side12,
#div_side13,
#div_side14,
#div_side15,
#div_side16 {
  animation: blinker 1s linear infinite;
  background-image: URL("assets/misc/taco.png");
  background-size: cover;
}

@keyframes blinker {
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}

#div_buttons {
  width: 60vh;
  height: 45vh;
  display: block;
  margin: 1vh auto;
  text-align: center;
}

button {
  vertical-align: top;
  outline: none;
  border-radius: 3pt;
  display: inline-block;
  width: 25vh;
  height: 20vh;
  border: none;
  padding: 3vh;
  margin: 1.2vh 1vh;
  cursor: pointer;
  background-color: #FF93D3;
  box-shadow: 0px 1px 8px 0px #D56BB2;
  font-family: Avenir, sans-serif;
  font-size: 3vh;
  font-weight: 700;
  color: #ffffff;
  white-space: normal;
  position: relative;
}

button:hover {
  width: 25.6vh;
  height: 20.6vh;
  margin: 0.9vh 0.7vh;
  box-shadow: 0px 1px 8px 2px #D56BB2;
  font-size: 3.1vh;
  background-color: #FF9FD8;
}

button:active {
  width: 25vh;
  height: 20vh;
  margin: 1.2vh 1vh;
  background-color: #FF92D2;
  font-size: 3vh;
  box-shadow: 0px 1px 5px 0px #D56BB2;
}

#button_restart,
#button_playAgain {
  margin: 4vh auto;
  display: block;
  height: 10vh;
  width: 23vh;
  padding: 0;
}

#button_restart:hover,
#button_playAgain:hover {
  margin: 3.75vh auto;
  height: 10.5vh;
  width: 23.5vh;
}

#div_playfield {
  position: relative;
  top: -5%;
  transform: translateY(5%);
  height: 90vh;
}

@media only screen and (max-width: 28rem) {

  #div_header {
    width: 100%;
    height: 10vw;
    background-color: white;
    margin-bottom: 3vw;
    background-color: #FF93D3;
    box-shadow: 0px 1px 8px 0px #D56BB2;
  }

  #div_frame {
    width: 100%;
    background-size: 75%;
    background-position: center 3vw;
    height: 58vw;
    margin: 0;
  }

  #div_dog {
    width: calc(100% - 38vw);
    margin-left: -0.5vw;
    height: 33vw;
  }

  .div_bottomWrapper {
    width: calc(100% - 1.6rem);
    height: auto;
    margin: 0 auto;
  }

  .div_sideWrapper {
    width: auto;
    height: auto;
    margin: 1vw 0vw 0vw 0vw;
  }

  #div_middleWrapper {
    width: calc(100% - 1.6rem);
    margin: 0 auto;
  }

  #div_side2,
  #div_side3,
  #div_side4 {
    width: 16vw;
    height: 9vw;
    margin: 2vw 0vh 4vw 0vh;
  }

  #div_side10,
  #div_side11,
  #div_side12 {
    width: 16vw;
    height: 9vw;
    margin: 2vw 0vh 4vw 0vh;
  }

  #div_side5,
  #div_side6,
  #div_side7,
  #div_side8,
  #div_side9 {
    width: 16vw;
    height: 9vw;
  }

  #div_side1,
  #div_side13,
  #div_side14,
  #div_side15,
  #div_side16 {
    width: 16vw;
    height: 9vw;
  }

  #div_playfield {
    height: 100%;
    width: 100%;
    margin: 0;
    transform: translateY(0%);
  }

  #div_buttons {
    width: 100%;
    height: calc(100vh - 82vw);
    position: absolute;
    bottom: 3vw;
  }

  button {
    margin: 1.5vw 1vw;
    padding: 1vw 5vw;
    height: calc(50% - 3vw);
    width: 42%;
  }

  button:hover {
    font-size: 3vh;
    margin: 1.5vw 1vw;
    padding: 1vw 5vw;
    height: calc(50% - 3vw);
    width: 42%;
  }

}