* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background-image: linear-gradient(to top right, #FE9EBB, #FFC3D5);
}

#sidebar {
  width: 300px;
  height: 100%;
  background-color: white;
  right: 0;
  z-index: 30;
  position: absolute;
}
#bottombar {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: white;
  z-index: 30;
  display: none;
}

#about_wrapper {
  width: 100%;
  margin: 2rem 0 2rem 0;
  background-color: #F4F4F6;
  border-radius: 1rem;
  text-align: center;
}

.img_about {
  width: 100%;
}

.div_about {
  vertical-align: top;
  display: inline-block;
  width: 22%;
  margin: 2rem;
}

.h4_about {
  margin-top: 1rem;
  text-align: center;
  color: #534C86;
}

#level {
  position: absolute;
  transform: translate(-50%,-50%);
  margin-top: 13.1rem;
  z-index: 20;
  width: 5rem;
}

#right {
  position: absolute;
  z-index: 11;
  margin-left: 0rem;
  margin-top: 8rem;
  transform: translate(-50%,-50%);
  width: 2rem;
  transition: width 0.1s ease;
  visibility: hidden;
}

#paper {
  background-color: #ffffff;
  padding: 6rem 7rem 5rem 7rem;
  width: 40rem;
  margin: 8vw auto 8.5rem auto;
}

.h2-pink {
  color: #FE9EBB;
  font-size: 3rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.h3-pink {
  color: #FE9EBB;
  font-size: 1.2rem;
  font-weight: 900;
}

a {
  color: #FE9EBB;
}

.p-purple {
  color: #797783;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p, input, button {
  font-family: 'Roboto', sans-serif;
}

h1,
#menuTitle {
  margin: 1rem 0 0 0;
  color: #ffffff;
  font-size: 1.5rem;
  display: inline-block;
  vertical-align: top;
  font-weight: 900;
  user-select: none;
  cursor: pointer;
  letter-spacing: 0rem;
}

a {
  text-decoration: none;
}

#menuTitle {
  color: #FEA0BC;
}

.div_menuIcon,
.div_menuIcon2 {
  margin: 1rem 0.8rem 1rem 1rem;
  width: 1.7rem;
  height: 1.7rem;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  background-image: URL("assets/misc/menuIcon.svg");
  background-size: 100%;
}

.div_menuIcon2 {
  background-image: URL("assets/misc/menuIcon2.svg");
}

#container {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#container2 {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.pink {
  background-image: linear-gradient(to top right, #FE9EBB, #FFC3D5);
  overflow: auto;
}

#div_wrongModal,
#div_rightModal {
  position: relative;
  display: none;
  width: calc(100% - 300px);
  height: 100%;
  z-index: 2; 
  opacity: 0;
  transition: opacity 0.2s ease;
}

.div_modalContentWrapper {
  width: 100%;
  height: 40%;
  display: inline-block;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  margin: 0 auto;
}

.div_modalContent {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.p_modalTextBig {
  color: #ffffff;
  font-family: Avenir, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

.p_modalTextSmall {
  line-height: 1.35rem;
  color: #ffffff;
  font-family: Avenir, sans-serif;
  font-size: 1rem;
  text-align: center;
  max-width: 11rem;
  margin: 0 auto;
}

#div_playfield {
  margin-left: -300px;
  margin-top: 0;
  z-index: 0;
}

#div_frame {
  width: 24rem;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: URL("assets/misc/frame.svg");
  background-size: 79.5%;
  background-repeat: no-repeat;
  background-position: 2.45rem 1.35rem;
  transition: opacity 0.5s ease;
  opacity: 0;
}

#div_buttons {
  max-width: 30rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  transition: margin-top 0.25s ease;
  margin-top: 20rem;
  opacity: 0;
}

.div_dogWrapper {
  width: 13.8rem;
  height: 8.2rem;
  display: inline-block;
  margin: 0.95rem auto 0 auto;
  position: relative;
  vertical-align: top;
}

#div_loading {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-image: URL("assets/misc/loading.gif"); */
  background-size: cover;
  background-repeat: no-repeat;
}

#div_dog {
  background-position: center;
  background-size: fill;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  transition: 0.4s background-size ease;
  visibility: hidden;
  background-repeat: no-repeat;
}

.div_sideWrapper {
  width: 4rem;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.div_bottomWrapper {
  width: 100%;
  text-align: justify;
  margin: 0 0 0.5rem 0;
}

.div_bottomWrapper:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#div_middleWrapper {
  text-align: justify;
}

#div_middleWrapper:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#div_side2,
#div_side3,
#div_side4 {
  width: 4rem;
  height: 2.5rem;
  opacity: 0;
  margin: 0.4rem 0 0.9rem 0;
}

#div_side10,
#div_side11,
#div_side12 {
  width: 4rem;
  height: 2.5rem;
  opacity: 0;
  margin: 0.4rem 0 0.9rem 0;
}

#div_side5,
#div_side6,
#div_side7,
#div_side8,
#div_side9 {
  width: 4rem;
  height: 2.5rem;
  display: inline-block;
  vertical-align: top;
  opacity: 0;

}

#div_side1,
#div_side13,
#div_side14,
#div_side15,
#div_side16 {
  width: 4rem;
  height: 2.5rem;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
}

#div_side1,
#div_side2,
#div_side3,
#div_side4,
#div_side5,
#div_side6,
#div_side7,
#div_side8,
#div_side9,
#div_side10,
#div_side11,
#div_side12,
#div_side13,
#div_side14,
#div_side15,
#div_side16 {
  animation: blinker 1s linear infinite;
  transition: 0.3s rotate ease;
  background-image: URL("assets/misc/taco.svg");
  background-size: 10% 10%;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes blinker {
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}

button {
  vertical-align: top;
  outline: none;
  border-radius: 3pt;
  display: inline-block;
  width: 10rem;
  height: 7rem;
  border: 0;
  outline: 0;
  padding: 1rem;
  margin: 0.45rem 0.3rem;
  cursor: pointer;
  background-color: #FFBCD0;
  box-shadow: 0pt 2pt 4pt #FE9EBB;
  font-family: Avenir, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  white-space: normal;
  position: relative;
  text-shadow: 0pt 1pt 2pt #FE9EBB;
}

button:hover {
  width: 10.2rem;
  height: 7.2rem;
  margin: 0.35rem 0.2rem;
  font-size: 1.05rem;
  line-height: 1.6rem;
  box-shadow: 0pt 2pt 8pt #FE9EBB;
  text-shadow: 0pt 1pt 2pt #FFADC6;
  background-color: #FFCADA;
}

button:active {
  vertical-align: top;
  outline: none;
  border-radius: 3pt;
  display: inline-block;
  width: 10rem;
  height: 7rem;
  border: 0;
  outline: 0;
  padding: 1rem;
  margin: 0.45rem 0.3rem;
  cursor: pointer;
  background-color: #FFBCD0;
  box-shadow: 0pt 2pt 4pt #FE9EBB;
  font-family: Avenir, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  white-space: normal;
  position: relative;
  text-shadow: 0pt 1pt 2pt #FE9EBB;
}

#button_restart,
#button_playAgain {
  margin: 1.5rem auto;
  height: 4rem;
  width: 9rem;
  display: block;
  padding: 0;
}

#button_restart:hover,
#button_playAgain:hover {
  margin: 1.4rem auto;
  height: 4.2rem;
  width: 9.2rem;
}

#div_playfield {
  position: relative;
  height: 80%;
  margin-top: 1rem;
}

.div_header {
  width: 100%;
  height: 2.5rem;
  z-index: 9;
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#div_menu {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  display: none;
  overflow: hidden;
}

#div_menu_block {
  width: 100%;
  margin: 2rem auto 0 auto;
  height: 100%;
}

.p_menu {
  text-align: center;
  font-size: 2.5rem;
  color: #FEA0BC;
  font-weight: 900;
  line-height: 5rem;
  max-width: 12rem;
  margin: 0 auto;
}

.p_menu:hover {
  font-size: 2.7rem;
  color: #FEA0BC;
  cursor: pointer;
  user-select: none;
  background-color: #A4FFE8;
}

@media only screen and (max-width: 60rem) {
  #paper {
    width: auto;
    margin: 8vw 1.2rem 1.2rem 1.2rem;
    padding: 7vw 10vw 3.8vw 10vw;
    clip-path: 
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  }
}

@media only screen and (max-width: 50rem) {
  #about_wrapper {
    background-color: white;
    margin-top: -0.3rem;
  }
  .div_about {
    width: 50%;
    background-color: #F4F4F6;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1.3rem;
  }
  #sidebar {
    display: none;
  }
  #bottombar {
    display: block;
  }
  #div_playfield {
    margin-left: 0px;
  }
  #div_wrongModal,
  #div_rightModal {
    width: 100%;
  }
}

@media only screen and (max-width: 26rem) {

  #level {
    margin-top: 49.1vw;
    width: 4rem;
  }

  #right {
    margin-top: 28.5vw;
  }

  .div_menuIcon,
  .div_menuIcon2 {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.7rem 0.5rem 0.7rem 0.7rem;
  }

  #div_frame {
    width: 100%;
    background-size: 75%;
    background-position: center 3vw;
    height: 58vw;
    margin: 0;
  }

  .div_dogWrapper {
    margin-top: 4vw;
    width: calc(100% - 39.5vw);
    height: 32vw;
  }

  .div_bottomWrapper {
    width: calc(100% - 1.6rem);
    height: auto;
    margin: 0 auto;
  }

  .div_sideWrapper {
    width: auto;
    height: auto;
    margin: 1vw 0vw 0vw 0vw;
  }

  #div_middleWrapper {
    width: calc(100% - 1.6rem);
    margin: 0 auto;
  }

  #div_side2,
  #div_side3,
  #div_side4 {
    width: 16vw;
    height: 9vw;
    margin: 2vw 0 4vw 0;
  }

  #div_side10,
  #div_side11,
  #div_side12 {
    width: 16vw;
    height: 9vw;
    margin: 2vw 0 4vw 0;
  }

  #div_side5,
  #div_side6,
  #div_side7,
  #div_side8,
  #div_side9 {
    width: 16vw;
    height: 9vw;
  }

  #div_side1,
  #div_side13,
  #div_side14,
  #div_side15,
  #div_side16 {
    width: 16vw;
    height: 9vw;
  }

  #div_buttons {
    width: 100%;
    height: calc(100% - 65vw);
    /* bottom: -3vw; */
    position: absolute;  }

  h1,
  #menuTitle {
    margin: 0.45rem 0 0 0;
  }

  #paper {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }

  button {
    width: 40%;
    height: 5rem;
    padding: 0.5rem;
    margin: 0.45rem 0.3rem;
    background-color: #FFBCD0;
    box-shadow: 0pt 2pt 4pt #FE9EBB;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0pt 1pt 2pt #FE9EBB;
  }

  button:hover {
    width: 40%;
    height: 5rem;
    padding: 0.5rem;
    margin: 0.45rem 0.3rem;
    background-color: #FFBCD0;
    box-shadow: 0pt 2pt 4pt #FE9EBB;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0pt 1pt 2pt #FE9EBB;
  }

  button:active {
    width: calc(40% - 0.4rem);
    height: 4.6rem;
    padding: 0.5rem;
    margin: 0.65rem 0.5rem;
    background-color: #FFBCD0;
    box-shadow: 0pt 2pt 4pt #FE9EBB;
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0pt 1pt 2pt #FE9EBB;
  }

  button:focus {
    width: 40%;
    height: 5rem;
    padding: 0.5rem;
    margin: 0.45rem 0.3rem;
    background-color: #FFBCD0;
    box-shadow: 0pt 2pt 4pt #FE9EBB;
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0pt 1pt 2pt #FE9EBB;
  }

  #button_restart,
  #button_playAgain {
    margin: 1.5rem auto;
    height: 4rem;
    width: 9rem;
    display: block;
    padding: 0;
  }

  #button_restart:hover,
  #button_playAgain:hover {
    margin: 1.5rem auto;
    height: 4rem;
    width: 9rem;
    display: block;
    padding: 0;
  }

  #button_restart:focus,
  #button_playAgain:focus {
    margin: 1.5rem auto;
    height: 4rem;
    width: 9rem;
    display: block;
    padding: 0;
  }

  #button_restart:active,
  #button_playAgain:active {
    margin: 1.7rem auto;
    height: 3.6rem;
    width: 8.6rem;
    display: block;
    padding: 0;
    font-size: 0.9rem; 
  }

}