* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 100%;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  background-image: linear-gradient(to top right, #FE9EBB, #FFC3D5);
}

#paper {
  background-color: #ffffff;
  padding: 7rem 7rem 5.5rem 7rem;
  width: 40rem;
  margin: 5rem auto 7.5rem auto;
  clip-path: 
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      85% 0%,    /* top right */
      100% 10%,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
}

.h2-purple {
  color: #534C86;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.p-purple {
  color: #534C86;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, p, input, button {
  font-family: 'Roboto', sans-serif;
}

h1,
#menuTitle {
  margin: 0.95rem 0 0 0;
  color: #ffffff;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: top;
  font-weight: 900;
  user-select: none;
  cursor: pointer;
  letter-spacing: 0rem;
}

a {
  text-decoration: none;
}

#menuTitle {
  color: #534C86;
}

.div_menuIcon,
.div_menuIcon2 {
  margin: 1rem 0.8rem 1rem 1rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  background-image: URL("assets/misc/menuIcon.svg");
  background-size: 100%;
}

.div_menuIcon2 {
  background-image: URL("assets/misc/menuIcon2.svg");
}

#container {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.purple {
  background-image: linear-gradient(to top right, #534C86, #525AB9);
  overflow: auto;
}

#div_wrongModal,
#div_rightModal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-image: linear-gradient(to top right, #FE9EBB, #FFC3D5);
}

.div_modalContentWrapper {
  width: 100%;
  height: 40%;
  display: inline-block;
  position: absolute;
  top: 30%;
  transform: translateY(-30%);
  margin: 0 auto;
}

.div_modalContent {
  width: 30vh;
  height: 40vh;
  display: block;
  margin: 0 auto;
  padding: 3vh 14vh 0vh 14vh;
}

.p_modalTextBig {
  color: #ffffff;
  font-family: Avenir, sans-serif;
  font-size: 10vh;
  font-weight: 900;
  text-align: center;
}

.p_modalTextSmall {
  line-height: 3vh;
  color: #ffffff;
  font-family: Avenir, sans-serif;
  font-size: 2.5vh;
  text-align: center;
}

#div_playfield {
  margin-top: 2vh;
}

#div_frame {
  width: 58vh;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
  background-image: URL("assets/misc/frame.svg");
  background-size: 79.5%;
  background-repeat: no-repeat;
  background-position: 5.9vh 3.2vh;
  transition: opacity 0.5s ease;
  margin-top: 0vh;
  opacity: 0;
}

#div_buttons {
  width: 60vh;
  height: auto;
  display: block;
  margin: 1vh auto;
  text-align: center;
  transition: margin-top 0.25s ease;
  margin-top: 100vh;
}

.div_dogWrapper {
  width: 33.5vh;
  height: 20vh;
  display: inline-block;
  margin: 2vh auto 0 auto;
  position: relative;
  vertical-align: top;
}

#div_loading {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: URL("assets/misc/loading.gif");
  background-size: cover;
}

#div_dog {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  transition: 0.4s background-size ease;
}

.div_sideWrapper {
  width: 10vh;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.div_bottomWrapper {
  width: 100%;
  text-align: justify;
  margin: 0vh 0vh 1vh 0vh;
}

.div_bottomWrapper:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#div_middleWrapper {
  text-align: justify;
}

#div_middleWrapper:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#div_side2,
#div_side3,
#div_side4 {
  width: 10vh;
  height: 6vh;
  opacity: 0;
  margin: 1vh 0vh 2vh 0vh;
}

#div_side10,
#div_side11,
#div_side12 {
  width: 10vh;
  height: 6vh;
  opacity: 0;
  margin: 1vh 0vh 2vh 0vh;
}

#div_side5,
#div_side6,
#div_side7,
#div_side8,
#div_side9 {
  width: 10vh;
  height: 6vh;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
}

#div_side1,
#div_side13,
#div_side14,
#div_side15,
#div_side16 {
  width: 10vh;
  height: 6vh;
  display: inline-block;
  vertical-align: top;
  opacity: 0;
}

#div_side1,
#div_side2,
#div_side3,
#div_side4,
#div_side5,
#div_side6,
#div_side7,
#div_side8,
#div_side9,
#div_side10,
#div_side11,
#div_side12,
#div_side13,
#div_side14,
#div_side15,
#div_side16 {
  animation: blinker 1s linear infinite;
  transition: 0.3s all ease;
  background-image: URL("assets/misc/taco.svg");
  background-size: 10% 10%;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes blinker {
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
}

button {
  vertical-align: top;
  outline: none;
  border-radius: 3pt;
  display: inline-block;
  width: 25vh;
  height: 16vh;
  border: 0;
  outline: 0;
  padding: 3vh;
  margin: 1.2vh 1vh;
  cursor: pointer;
  background-color: #FFBCD0;
  box-shadow: 0pt 2pt 4pt #FE9EBB;
  font-family: Avenir, sans-serif;
  font-size: 2.5vh;
  line-height: 3.5vh;
  font-weight: 700;
  color: #ffffff;
  white-space: normal;
  position: relative;
  text-shadow: 0pt 1pt 2pt #FE9EBB;
}

button:hover {
  width: 25.6vh;
  height: 16.6vh;
  margin: 0.9vh 0.7vh;
  box-shadow: 0pt 2pt 8pt #FE9EBB;
  text-shadow: 0pt 1pt 2pt #FFADC6;
  font-size: 2.6vh;
  line-height: 3.6vh;
  background-color: #FFCADA;
}

button:active {
  width: 25vh;
  height: 16vh;
  margin: 1.2vh 1vh;
  background-color: #FFBCD0;
  font-size: 2.5vh;
  line-height: 3.5vh;
  box-shadow: 0pt 2pt 4pt #FE9EBB;
}

#button_restart,
#button_playAgain {
  margin: 4vh auto;
  display: block;
  height: 10vh;
  width: 23vh;
  padding: 0;
}

#button_restart:hover,
#button_playAgain:hover {
  margin: 3.75vh auto;
  height: 10.5vh;
  width: 23.5vh;
}

#div_playfield {
  position: relative;
  top: 30%;
  transform: translateY(-30%);
  height: 90vh;
}

.div_header {
  width: 100%;
  height: 6vh;
}

#div_menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  background-color: #A4FFE8;
  display: none;
}

#div_menu_block {
  width: 100%;
  margin: 4.5vh auto 0 auto;
  height: 100%;
}

.p_menu {
  text-align: center;
  font-size: 4vw;
  color: #534C86;
  font-weight: 900;
  line-height: 12vh;
  max-width: 20vw;
  margin: 0 auto;
}

.p_menu:hover {
  font-size: 4.3vw;
  color: #FEA0BC;
  cursor: pointer;
  user-select: none;
  transition: all 0.0.5s;
  background-color: #ffffff;
}

@media only screen and (max-width: 60rem) {
  #paper {
    width: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 10vw;
    clip-path: 
    polygon(
      0% 0%,     /* top left */
      0% 0%,     /* top left */
      100% 0%,    /* top right */
      100% 0%,   /* top right */
      100% 100%,  /* bottom right */
      100% 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
  }
}

@media only screen and (max-width: 40rem) {
  #div_menu_block {
    margin: 2vh auto 0 auto;
  }

  .p_menu {
    font-size: 2.5rem;
    line-height: 2rem;
    max-width: 12rem;
    line-height: 4.5rem;
  }

  .p_menu:hover {
    font-size: 2.7rem;
  }
}

@media only screen and (max-width: 28rem) {

  .div_menuIcon,
  .div_menuIcon2 {
    width: 1.3rem;
    height: 1.3rem;
    margin: 0.7rem 0.5rem 0.7rem 0.7rem;
  }

  h1,
  #menuTitle {
    font-size: 1.2rem;
    margin: 0.25rem 0rem 0rem 0rem;
    display: none;
  }

  .div_header {
    width: auto;
    height: 5vh;
  }

  #div_frame {
    width: 100%;
    background-size: 75%;
    background-position: center 3vw;
    height: 58vw;
    margin: 0;
  }

  .div_dogWrapper {
    width: calc(100% - 38vw);
    margin-left: -0.5vw;
    height: 33vw;
  }

  .div_bottomWrapper {
    width: calc(100% - 1.6rem);
    height: auto;
    margin: 0 auto;
  }

  .div_sideWrapper {
    width: auto;
    height: auto;
    margin: 1vw 0vw 0vw 0vw;
  }

  #div_middleWrapper {
    width: calc(100% - 1.6rem);
    margin: 0 auto;
  }

  #div_side2,
  #div_side3,
  #div_side4 {
    width: 16vw;
    height: 9vw;
    margin: 2vw 0vh 4vw 0vh;
  }

  #div_side10,
  #div_side11,
  #div_side12 {
    width: 16vw;
    height: 9vw;
    margin: 2vw 0vh 4vw 0vh;
  }

  #div_side5,
  #div_side6,
  #div_side7,
  #div_side8,
  #div_side9 {
    width: 16vw;
    height: 9vw;
  }

  #div_side1,
  #div_side13,
  #div_side14,
  #div_side15,
  #div_side16 {
    width: 16vw;
    height: 9vw;
  }

  #div_buttons {
    width: 100%;
    height: calc(100% - 65vw);
    bottom: -3vw;
    position: absolute;
  }

  button {
    padding: 0.5rem;
    width: 45%;
    height: 30%;
    margin: 0.2rem 0.1rem;
  }

  button:hover {
    padding: 0.5rem;
    width: 45%;
    height: 30%;
    margin: 0.2rem 0.1rem;
  }

  button:active {
    padding: 0.5rem;
    width: 45%;
    height: 30%;
    margin: 0.2rem 0.1rem;
  }

  .div_modalContent {
    width: 30vh;
  }

}